// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bgc:#3104B4;

body{
    background-color: $bgc;
}

@mixin letra($size){
    font-size: $size;
    color: #3104B4;
    font-weight: bold;
}

*{
/*AFECTA A TODOS LOS ELEMENTOS*/
}

label{
    @include letra(10px);
    a{
        
    }
}

fieldset {
    margin: 0;
    padding: 6px;
    color:#00f;
    background-color:#ddd;
    width: 510px;
}
